<app-comp-dashboard [cards]="x" (action)="del($event)"></app-comp-dashboard>

<mat-expansion-panel *ngIf="messageService.messages.length > 0">
  <mat-expansion-panel-header>
    <mat-panel-title>Message log</mat-panel-title>
    <mat-panel-description>A list of log messages</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list dense>
    <mat-list-item *ngFor='let message of messageService.messages'>
      {{message}}
    </mat-list-item>
  </mat-list>
  <mat-action-row>
    <button mat-button
            class="clear"
            (click)="messageService.clear()"></button>
  </mat-action-row>
</mat-expansion-panel>
